# User specific files
*.suo
*.user

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Visual studio 2015+ cache/options directory
.vs/

# Cake
tools/**
!tools/packages.config

# Ignore all resx translation files
# except for the default one
[Rr]esources.*.resx